#header {
  background-color: #760101;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navtext {
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  padding: 15px;
}

#navtext:hover {
  border-bottom: 3px solid rgb(0, 0, 0);
  background-color: rgb(235, 220, 23);
  color: rgb(85, 1, 1);
  cursor: pointer;
}

#navlogo {
  max-width: 65px;
}

#chef {
  max-width: 95px;
  text-align: left;
}

/*Esto es lo visto en clases*/
.lds-circle,
.lds-circle div {
  box-sizing: border-box;
}
.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  background: currentColor;
  border-radius: 50%;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  margin-top: auto;
}

/* color de fondo */
#dark{
  background-color: black;
    color: white;
}

/* ajuste del txt carousel */
.carousel-caption {
  position: absolute;
  top: 45%; /* Ajusta la distancia desde la parte superior */
  left: 0; /* Ajusta el margen izquierdo */
  transform: translateY(-50%); /* Centra verticalmente el caption */
  text-align: center; /* Alinea el texto al centro */
  width: auto; /* Ajusta el ancho del caption */
  background-color: rgba(0, 0, 0, 0.7); /* Agrega un fondo semi-transparente al caption */
  padding: 30px; /* Añade un espacio alrededor del texto */
  color: white; /* Cambia el color del texto a blanco */
  border-radius: 10px;
}


/* ajuste del img de carousel */
.carousel-item img {
  /* max-width: 100%; Establece el ancho máximo de la imagen al 100% del contenedor */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  width: auto; /* Cambia el ancho de la imagen */
  height: 600px; /* Cambia la altura de la imagen */
  object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
}

/* ajuste de botton  */
.carousel-button {
  position: absolute;
  bottom: 60px; /* Ajusta la distancia desde la parte inferior */
  left: 160px; /* Ajusta el margen izquierdo */
  z-index: 2; /* Asegura que el botón esté por encima del caption */
}

hr {
  border: 0; /* Elimina el borde predeterminado */
  height: 4px; /* Grosor del hr */
  background-color: white; /* Cambia el color del hr a rojo (#ff0000) */
  margin: 20px 0; /* Añade margen arriba y abajo */
}

/* Caption en dispositivos móviles */
@media (max-width: 700px) {
  .carousel-caption {
    top: 20%;
    left: auto;
    transform: translate(-10%, -10%);
    width: 85vw; /* Ajusta el ancho del caption al 90% del viewport width */
    padding: 10px; /* Ajusta el padding según sea necesario */
    font-size: 2vw; /* Ajusta el tamaño del texto en función del viewport width */
    height: 55vw;
  }

  .carousel-caption h2 {
    font-size: 3vw; /* Ajusta el tamaño del título */
  }

  .carousel-caption p {
    font-size: 2vw; /* Ajusta el tamaño del párrafo */
  }

  .carousel-item img {
    height: 350px; /* Ajusta la altura de la imagen automáticamente */
    width: 100%; /* Asegura que la imagen ocupe el ancho completo del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
  }

  .carousel-button {
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    left: 50%; /* Centra horizontalmente el botón */
    transform: translateX(-50%); /* Centra el botón */
  }
}

/* 
Caption en tablets
@media (min-width: 768px) and (max-width: 1024px) {
  .carousel-caption {
    top: 50%;
    left: auto;
    transform: translate(-50%, -50%);
    width: auto; /* Ajusta el ancho del caption */
    /* padding: 20px;
    font-size: 2vw;
    height: auto;
  }

  .carousel-caption h2 {
    font-size: 4vw;
  }

  .carousel-caption p {
    font-size: 3vw;
  }

  .carousel-item img {
    height: 600px;
    width: 100%;
    object-fit: cover;
  }

  .carousel-button {
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  } 
} 